In [ ]:
import mysql.connector
import pandas as pd
# Connect to server
cnx = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="Abhi@4177")

In [ ]:
query = "SELECT * FROM banking_case.customer"

In [ ]:
df = pd.read_sql(query, cnx)

In [ ]:
cnx.close()